@media (max-width: 700px) {
	.burger-btn {
		position: absolute;
    display: block;
    float: left;
  	margin: 13px 13px;
  	cursor: pointer;
  }

	.nav-logo {
		width: 125px;
    height: 41px;
		display: inline-block;
		overflow-y: hidden;
	}

  .nav-logo a{
    background: url("../img/small-logo.png");
  }
  .nav-logo a:hover{
    background: url("../img/small-logo.png");
  }
  .nav-list{
    display: none;
  }
	.navigation	{
		height: 50px;
		position: relative;
		text-align: center;
		border: 0;
		display: block;
	}

	.fiture-certification{
		display: none;
	}

	.meeting-title{
	  display: inline-block;
	  font-size: 40px;
	  margin-top: 0;
	  padding: 0 20px;
	  color: #f1f1f1;
	}

	.sidebar {
		display: block;
		position: fixed;
		top: 0;
		left: -250px;
		width: 250px;
		height: 100%;
	}
	.sidebar.active {
		-webkit-transform: translateX(250px);
		-webkit-transition: all .25s;
	}

	.navigation.active{
		-webkit-transform: translateX(250px);
		-webkit-transition: all .25s;
	}

	.content.active{
		-webkit-transform: translateX(250px);
		-webkit-transition: all .25s;
	}

	.mobile-nav-list-item{
		height: 50px;
		width: 250px;
		margin-left: -40px;
	}

	.mobile-input{
		background-color: transparent;
		border: none;
		color: #f1f1f1;
		box-shadow: none;
		margin: 1px 0 0 2px;
		width: 90%;
		padding-left: 6px;
		outline: none;
	}

	.search-container{
		height: 30px;
		margin: 10px 10px;
		margin-left: -30px;
		background-color: #464340;
	}

	.modile-search-icon{
		position: absolute;
		right: 0;
		margin: 5px 12px 0 0;
		background: transparent;
		border: none;
		color: #9d9b99;
	}
}

.sidebar{
	float: left;
	background-color: #34302d;
}

.content{
	-webkit-transition: all .25s;
}

.navigation {
	-webkit-transition: all .25s;
}

.sidebar {
	-webkit-transition: all .25s;
}

@media(min-width: 1092px){
	.box{
	  margin: 0 auto;
	  max-width: 1092px;
	}
}

@media(max-width: 1092px){
	.box{
	  margin: 0 auto;
		width: 100%;
	}
}

@media(max-width: 850px){
	.nav-list{
		margin-left: -30px;
	}

	.nav-list > li > a {
	  position: relative;
	  display: block;
	  padding: 20.5px 10px;
	  text-decoration: none;
	  color: white;
	  -webkit-transition: all .15s;
	}
}

@media(max-width: 770px){
	.nav-list{
		margin-left: -30px;
	}

	.nav-list > li > a {
	  position: relative;
	  display: block;
	  padding: 21.5px 9px;
		font-size: 15px;
	  text-decoration: none;
	  color: white;
	  -webkit-transition: all .15s;
	}
}

@media(max-width: 750px){
	.nav-list{
		margin-left: -30px;
	}

	.nav-list > li > a {
	  position: relative;
	  display: block;
	  padding: 22px 8px;
		font-size: 14px;
	  text-decoration: none;
	  color: white;
	  -webkit-transition: all .15s;
	}
}
