@import url('https://fonts.googleapis.com/css?family=Varela+Round');

header{
  margin: 0;
}

.navbar{
  background-color: #34302d;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 65px;
  border-top: 4px solid #6db33f;
}

.container{
  margin: 0 auto;
  width: 75%;
}

.nav-brand{
  float: left;
}

.nav-list{
  font-family: "Varela Round";
  position: relative;
  margin: 0;
  height: 65px;
  float: right;
  list-style: none;
  display: block;
}

.nav-list > li {
  height: 100%;
  float: left;
}

.nav-list > li > a {

  position: relative;
  display: block;
  padding: 22.5px 15px;
  text-decoration: none;
  color: white;
      -webkit-transition: all .15s;
}

.nav-list > li > i {
  position: relative;
  display: block;
  padding: 16.5px 15px;
  text-decoration: none;
  color: white;
}

.nav-list > li > a:hover{
  background-color: #6db33f;
}

a.spring-logo span{
  display: block;
  width: 224px;
  height: 47px;
  margin: 9px;
  background: url("../img/spring-logo.png");
}

a.spring-logo span:hover{
  display: block;
  width: 224px;
  height: 47px;
  margin: 9px;
  background: url("../img/spring-logo-hover.png");
}

#search-icon:hover{
  text-shadow: 0px 0px 10px #6db33f;
}
