header{
  margin: 0;
}

.navbar{
  background-color: #34302d;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 65px;
  border-top: 4px solid #6db33f;
}

.container{
  margin: 0 auto;
  width: 75%;
}

.nav-brand{
  float: left;
}

.nav-list{
  position: relative;
  margin: 0;
  height: 65px;
  float: right;
  list-style: none;
  display: block;
}

.nav-list > li {
  height: 100%;
  float: left;
}

.nav-list > li > a {
  position: relative;
  display: block;
  padding: 23.5px 15px;
  text-decoration: none;
  color: white;
}

.nav-list > li:hover{
  background-color: #6db33f;
}

a.spring-logo span{
  display: block;
  width: 224px;
  height: 47px;
  margin: 9px;
  background: url("../img/spring-logo.png");
}

a.spring-logo span:hover{
  display: block;
  width: 224px;
  height: 47px;
  margin: 9px;
  background: url("../img/spring-logo-hover.png");
}
